/* === Fonts === */
@font-face {
    font-family: "NeueMontreal-Regular"; 
    src: url('./fonts/NeueMontreal/NeueMontreal-Regular.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Noto-Sans-Mono-ExtraBold';
      src:  url('./fonts/Noto-Sans-Mono-ExtraBold/Noto-Sans-Mono-ExtraBold.ttf.woff') format('woff'),
      url('/fonts/Noto-Sans-Mono-ExtraBold.ttf.svg#Noto-Sans-Mono-ExtraBold') format('svg'),
      url('./fonts/Noto-Sans-Mono-ExtraBold.ttf.eot'),
      url('./fonts/Noto-Sans-Mono-ExtraBold.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }
/* ========== Global Styles ========== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-text: #fcf0ec;
    --color-background: #080808;
    --color-border: #aaa;
    --font-primary: "NeueMontreal-Regular";
    --font-secondary: "Noto-Sans-Mono-ExtraBold";
    --font-size-primary: 0.85rem;
    --line-height-primary: 1.5;
    --text-transform-primary: uppercase;
    --font-size-secondary: 0.75rem;
    --line-height-secondary: 1;
    --font-size-header: smaller;
    --font-size-statement: 3rem;
    --width-section: 95%;
}
body {
    background: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .1s;
}

/* Hide Scrollbar */
/* for Chrome, Safari, and other WebKit-based browsers */
::-webkit-scrollbar {
    display: none;
}
/* for Firefox */
* {
    scrollbar-width: none; 
    scrollbar-color: transparent transparent;
}

svg.drawn-border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.drawn-border path {
    stroke: var(--color-text);
    stroke-width: 4;
    fill: none;
}

.divider {
    width: 0%;
    opacity: 0;
    height: 1px;
    display: flex;
    margin: auto;
    background: var(--color-text);
    transition-duration: 1s;
}

/* ========== Global Styles: Components ========== */
.margin-section {
    width: var(--width-section);
    margin: auto;
}
.style-section {
    width: var(--width-section);
    height: 100vh;
    margin: auto;
    margin-top: 20vh;
    position: relative;
}
/* Utility Classes */
.flex { display: flex; }
.grid { display: grid; }
.center { justify-content: center; align-items: center; }
.space-between { justify-content: space-between; }
.h-100 { height: 100vh; }
.align-center { align-items: center; }   
.align-end { align-items: flex-end;}
.wrap { flex-wrap: wrap;}

/* ========== Global Styles: Text ========== */

h1, h2, h3, h4, h5, h6, p, a, label, input {
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: center top;
    transform-style: preserve-3d;
    transition: opacity 0s cubic-bezier(.215,.61,.355,1),transform 0s cubic-bezier(.215,.61,.355,1);
    opacity: 0;
}
a, input {
    text-decoration: none;
    color: var(--color-text);
}
li {
    list-style: none;
}
.title__text {
    font-size: 2.5rem;
    line-height: var(--line-height-primary);
    text-transform: var(--text-transform-primary);
    font-weight: bold;
}
.body__text {
    font-size: 1.7rem;
    font-weight: 100;
    line-height: 1.5;
}
.header__text, .footer__text {
    text-transform: var(--text-transform-primary);
    font-weight: bold;
    line-height: var(--line-height-secondary);
    font-family: var(--font-secondary);
    font-size: var(--font-size-secondary);
}
.marquee__text{
    font-size: 5rem;
    white-space: nowrap;
    text-transform: var(--text-transform-primary);
    font-family: var(--font-secondary);
}
.list__text {
    font-size: 1.3rem;
    line-height: 1.8;
    font-weight: 100;    
    text-transform: capitalize;
}

/* ========== HEADER ========== */
.header {
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: all .1s;
}
/* header Components */
ul.header__list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}
li.header__item {
    width: 10%;
    text-align: end;
}
li.header__item:nth-child(1) {
    width: 80%;
    text-align: start;
}
.header__button {
    cursor: pointer;
    border: none;
    background: none;
}
/* Header Typography */
a.header__link, .header__button {
    font-family: var(--font-secondary);
}

/* ========== Menu ========== */
section.menu {
    width: 100%;
    padding: 5rem 0 0;
    position: fixed;
    z-index: 4;
    background: var(--color-background);
    transition: all 1s;
    clip-path: circle(0% at 100% 0);
}
/* Menu Components */
.menu__container {  
    width: 95%;
    margin: auto;  
    height: 100%;
    display: flex;
    flex-direction: column;
}
.menu__col {
    width: 100%;
    height: 100%;
}
ul.menu__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
li.menu__item {
    width: 100%;
    padding: 1.5rem 0;
}
/* Menu Typography */
h1.menu__title{
    padding: 1.5rem 0;
}
a.menu__link {
    display: block;
    text-transform: uppercase;
}

/* ========== Background Gradient Layout ========== */ 
.gradient__background {
    z-index: -1;    
}
.blurred-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background 0.1s linear;
    clip-path: circle(25% at 50% 50%);
}

/* ========== Main Layout ========== */
.main {
    width: 100%;
    margin-top: 0 !important;
    overflow: hidden;
    height: 100vh !important;
}
.main__container {
    width: 90%;
    margin: auto;
    position: relative;
    height: 100%;
}
/* Main Container Columns and Rows */
.main__container--row {
    width: 100%;
    height: 100%;
} 
.main__container--row:nth-child(1) {
    position: absolute;
}
.main__container--row:nth-child(2) {
    padding: 0 0 0.5rem;
}

/* Main Components  */
.main__presentation {
    margin: auto;
}
.main__skills, .main__contact {
    margin: 0;
    width: 30%;
}
.main__contact {
    margin: 0 0 0 auto;
}
/* Main Typography */
span.contact-form__link {
    position: relative;
    width: fit-content;
    display: inherit;
}

.contact-form__link a {
    margin: 2rem 0 0;
    display: block;
    font-size: 1.1rem;
}
p.main__tech, a.main__link {
    width: 33.333%;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0; /* Cuando llega a 0, se revela todo el trazo */
    }
}

.wrapper {
    background: var(--color-background);
    position: relative;
    z-index: 2;
    margin-top: 20vh;
}

/* ========== Transition Layout ========== */
.transition {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: initial;
    margin-top: 0;
}
.transition::after {
    content: " ";
    background: var(--color-background);
    position: absolute;
    height: 10vh;
    width: 100%;
    top: -5vh;
    z-index: -1;
    border-radius: 5%;
}
.transition__header {
    width: var(--width-section);
    margin: 2rem auto ;
}
.transition__scroll {
    height: 100%;
}
.transition__text {
    transition: transform 1s ease-out;
    will-change: transform;
    position: relative;
    display: block;
}
.transition__text:nth-child(2), 
.transition__text:nth-child(6) {
    left: -500px;
}
.transition__text:nth-child(4) {
    left: -100px;
}

/* ========== Profile Layout ========== */
.profile {
    height: auto;
}
/* Profile Columns and Rows */
.profile__container {
    flex-direction: row-reverse;
    margin: 5rem 0;
}
.profile__row {
    margin: 3rem 0;
}
/* Profile elements */
ul.profile__ul {
    width: 100%;
    margin: 2rem 0 0;
}
li.profile__li {
    text-transform: capitalize;
    background: #90EE90;
    border-radius: 20px;
    padding: .5rem 1rem;
    margin: .2rem;
}
li.profile__li:last-child {
    transform: rotate(2deg);
}

.profile__li p.marquee__text {
    font-family: var(--font-primary);
    white-space: normal;
}

/*  */
img.profile__image {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
}
/* Profile Typography */
h1.profile__title--text {
    padding: 0 0 0.2rem;
    margin: 0 0 1rem;
}
h1.profile__title--text, .profile__body h6 {
    width: 100%;    
}

/* ========== Projects Layout ========== */
.projects{
    width: 100%;
    margin: auto;
    height: 100%;    
}
.projects__intro, .featured_projects, .more_projects {
    width: var(--width-section);
    margin: auto;
}
.projects__intro {
    margin-bottom: 3rem;
}
.featured_projects {
    margin-bottom: 5rem;
}
/* Projects Cards */
/* Projects Cards Columns and Rows */
.projects__container {
    width: 100%;
}
.row {
    margin: 0 0 0 .2rem;
}
.row:nth-child(1) {
    width: 50%;
}
.row:nth-child(2) {
    width: 50%;
    height: 100%;
}
.col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0.2rem;
    border-radius: 20px;  
    background: #131315;  
    transition: all .2s;
}
.col.col-5:hover,
.col.col-6:hover {
    background: #1d1d20;
}
.projects__card:nth-child(1) .projects__container {
    flex-direction: row-reverse;
}

/* Projects Cards Elements */
.projects__thumbnail {
    width: 33.33%;
    padding: 0 .2rem;
}
li.projects__tech-item.body__text {
    margin: 0 .5rem;
}
/* Projects Cards Images */
.projects__image {
    max-width: 100%;
    height: auto;   
    cursor: pointer; 
}
.projects__background .projects__image {
    border-radius: 20px;
    cursor: default;
}
.projects__thumbnail:nth-child(1) img.projects__image {
    filter: contrast(0.6);
}
/* Projects Typography */
.projects__title h1 {
    line-height: var(--line-height-secondary);
}
.projects__summary p, .projects__tech-item, .projects__link a {
    font-size: 1.1rem;
    font-weight: 100; 
}

/* ========== Projects List ========== */
.more_projects {
    margin-top: 5rem; margin-bottom: 2rem;
}
.more_projects p {
    font-family: var(--font-primary);
}
.projects__list--row {
    margin: .5rem 0;
    padding: 1rem ;
    cursor: pointer; 
}
.projects__list--col {
    width: 33.33%;
}
.projects__list--col:nth-child(2) {
    justify-content: end;
}
.projects__list--col:nth-child(2) span {
    text-align: end;
    padding: 0 1rem;
    border-radius: 20px;
    margin: 0 .5rem;
    display: flex;
    align-items: center;
}

/* ========== Projects Selected ========== */
.project__selected {
    width: 100%;
    height: 100%; 
    background: var(--color-background); 
    position: fixed;
    top: 0;
    flex-wrap: wrap;
    z-index: 3;
    transform: translate3d(-105%, 0px, 0px);
    transition: all .8s ease-out;    
    padding: 5rem 2% 0;
}
/* Projects Selected Columns and Rows */
.project__selected--col{
    width: 70%;
    height: auto;
    margin: auto 0;
} 
.project__selected--col {
    transform: translate3d(-100%, 0px, 0px);
    opacity: 0;
    transition: all .8s ease-out;
}
.project__selected--row {
    position: relative;
    transform: translate3d(0px, 0%, 0px);
    transition: all .5s ease-in-out;
    margin: 0 0 1rem;
}
/* Project Selected Components */
.project__selected--list li {
    width: fit-content;
    margin: 0 1rem 0 0;
}
/* Projects Items Typography */
input.project__selected-return {
    border: none;
    background: transparent;
    cursor: pointer;
}
a.project__selected--link.list__text {
    text-decoration: underline;
}


/* ========== Contact Layout ========== */
/* Contact Layout */
.contact__lead { 
    margin: .5rem 0; 
}
/* */
.contact__container {
    width: 100%;
}
.contact__row {
    width: 50%;
}
.contact__col {
    padding: 1rem;
    margin: 0.2rem;
    border-radius: 20px;
    background: #131315;
}
li.contact__col {
    width: 33.33%;
    text-align: center;
}
/* Contact Form */
.contact__form { 
    width: var(--width); 
}
.contact__form form { 
    display: grid; 
}
.contact__form input,
.contact__form textarea{     
    border: none;
    border-bottom: 1px solid  var(--color-border);
    color: var(--color-text);
    border-radius: 5px;
    padding: 0.5rem;    
    background: transparent;   
    font-size: var(--font-size-primary); 
    margin: .5rem 0;     
}
.contact__form textarea {
    border: 1px solid  var(--color-border) ;
}
.contact__form input[type="submit"] {
    padding: .7rem;
    margin: 1rem 0;
    cursor: pointer;
    color: var(--color-background);
    background: var(--color-text); 
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-size: 1rem; 
}
.contact__form-message { 
    margin: 2rem 0; 
}
/* Contact Typography */
.contact__text {
    font-weight: 100;
}
.contact__form-message h5 {
    transform: none !important;
    opacity: 1 !important;
}

.contact__poster {
    width: 100%;
    margin: auto;
}
.contact__title{  
    width: min-content;
    white-space: revert;
    text-align: center;
}
.contact__text.list__text {
    text-align: center;
}


/* ========== Responsive Styles ========== */

@media(max-width:1280px) {
    .style-section {
        height: auto;
    }
    .title__text {
        font-size: 1.5rem;
    }
    .body__text {
        font-size: 1.3rem;
    }
    .marquee__text{
        font-size: 3rem;
    }
    .list__text {
        font-size: 1.1rem;
    }

    .main {
        height: 100vh;
    }
    .main__skills {       
        width: 40%;
    }
    .main__contact {
        width: 30%;
    }
    .contact-form__link a {        
        font-size: 1.1rem;
    }

    .transition__header {
        position: relative;
    }
    .transition__scroll {
        margin: 10vh 0 0;
    }
    h1.transition__text:nth-child(4) {
        left: -400px;
    }

    .project__item--text, .projects__card--text {
        font-size: 1rem;
    }
    .projects__card--text {
        line-height: 1;
    }

    .project__selected {
        display: block;
    }
    .project__selected--col{
        width: 100%;
        height: auto;
    } 
    .project__selected--col {
        margin: 0 0 2rem;
    }
    .project__selected--row {
        width: 100%;
        margin: 0.5rem 0;
        display: block;
    }

    .project__selected--list-image {
        width: 25%;
        margin: 0 0.5rem;
    }
    .contact__container {
        flex-direction: column-reverse;
    }
    .contact__row {
        width: 100%;
    }
    .contact__title {
        width: 100%;
    }
}

@media (max-width: 1000px){
    .body__text {
        font-size: 1.2rem;
    }
    .main__contact {
        width: 35%;
    }

    .profile__container {
        flex-wrap: wrap;
    }
    .profile__container .row {
        width: 100% ;
    }
    .projects__background {
        justify-content: flex-start;
    }
    .profile__col:nth-child(1) {
        width: 60%;
    }
    .profile__col:nth-child(2) {
        width: 30%;
    }
    img.profile__image {
        max-width: 250px;
        height: 250px;
    }

    .projects__container {
        height: 100%;
        flex-wrap: wrap;
        flex-direction: column-reverse !important;
    }
    .projects__container .row {
        width: 100%;
    }
    .projects__summary p, .projects__tech-item, .projects__link a {
        font-size: 1rem;
    }

    .contact {        
        flex-direction: column-reverse;
    }
    .contact__body {
        width: 90%;
        margin: auto;
        margin-top: 0;
    }
    .contact__poster {
        width: 100%;
        margin: auto;
        margin-bottom: 0;
    }
}

@media (max-width: 800px) {
    .title__text {
        font-size: 1.3rem;
    }
    .body__text {
        font-size: 1.1rem;
    }
    .list__text {
        font-size: .95rem;
    }

    .main__container {
        width: 95%;
    }
    .contact-form__link a {
        font-size: .9rem;
    }
    .main__skills {       
        width: 50%;
    }
    .main__contact {
        width: 40%;
    }
    p.main__tech {
        width: auto;
        margin: 0 1rem 0 0;
    }


    img.profile__image {
        max-width: 200px;
        height: 200px;
    }


    p.projects__card--text {        
        margin: 0.5rem 0;
    }

    .projects__summary p, .projects__tech-item, .projects__link a {
        font-size: .9rem;
    }

    .contact__body {
        width: 100%;
    }

    ul.footer__list {
        width: 30%;
    }
}

@media (max-width: 600px) {
    li.header__item {
        width: 20%;
    }

    .main__skills {
        width: 40%;
    }
    .main__contact {
        width: 50%;
    }

    img.profile__image {
        max-width: 150px;
        height: 150px;       
    }

    ul.footer__list {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .style-section {
        margin-top: 10vh;
    }
    .title__text {
        font-size: 1.1rem;
    }
    .body__text {
        font-size: 1rem;
    }

    .contact-form__link a {
        font-size: .8rem;
    }
    .main__skills {
        display: none;
    }   
    .main__contact {
        width: 60%;
    }

    .marquee__text {
        font-size: 2.5rem;
    }
    h1.transition__text:nth-child(4) {
        left: -450px;
    }

    .projects__cards--card {
        display: block;
    }
    p.projects__card--text {
        display: flex;
        justify-content: space-between;
    }

    ul.footer__list {
        width: 60%;
    }      
}