/* === Fonts === */
@font-face {
    font-family: "NeueMontreal-Regular"; 
    src: url('/fonts/NeueMontreal/NeueMontreal-Regular.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Noto-Sans-Mono-ExtraBold';
      src:  url('/fonts/Noto-Sans-Mono-ExtraBold/Noto-Sans-Mono-ExtraBold.ttf.woff') format('woff'),
      url('/fonts/Noto-Sans-Mono-ExtraBold.ttf.svg#Noto-Sans-Mono-ExtraBold') format('svg'),
      url('/fonts/Noto-Sans-Mono-ExtraBold.ttf.eot'),
      url('/fonts/Noto-Sans-Mono-ExtraBold.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }
/* ========== Global Styles ========== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #fcf0ec;
    --color-secondary: #131519;
    --color-border: #aaa;
    --font-primary: "NeueMontreal-Regular";
    --font-secondary: "Noto-Sans-Mono-ExtraBold";
    --font-size-primary: 0.85rem;
    --line-height-primary: 1.5;
    --text-transform-primary: uppercase;
    --font-size-secondary: 0.75rem;
    --line-height-secondary: 1;
    --font-size-header: smaller;
    --font-size-statement: 3rem;
    --width-section: 95%;
}
body {
    background: var(--color-primary);
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .1s;
}

/* Hide Scrollbar */
/* for Chrome, Safari, and other WebKit-based browsers */
::-webkit-scrollbar {
    display: none;
}
/* for Firefox */
* {
    scrollbar-width: none; 
    scrollbar-color: transparent transparent;
}

svg.drawn-border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.drawn-border path {
    stroke: var(--color-secondary);
    stroke-width: 4;
    fill: none;
}

.divider {
    width: 0%;
    opacity: 0;
    height: 1px;
    display: flex;
    margin: auto;
    background: var(--color-secondary);
    transition-duration: 1s;
}

/* ========== Global Styles: Components ========== */
.margin-section {
    width: var(--width-section);
    margin: auto;
}
.style-section {
    width: var(--width-section);
    height: 100vh;
    margin: auto;
    margin-top: 20vh;
    position: relative;
}
/* Utility Classes */
.flex { display: flex; }
.grid { display: grid; }
.center { justify-content: center; align-items: center; }
.space-between { justify-content: space-between; }
.h-100 { height: 100vh; }
.align-center { align-items: center; }   
.align-end { align-items: flex-end;}
.wrap { flex-wrap: wrap;}

/* ========== Global Styles: Text ========== */

h1, h2, h3, h4, h5, h6, p, a, label, input {
    color: var(--color-secondary);
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: center top;
    transform-style: preserve-3d;
    transition: opacity 0s cubic-bezier(.215,.61,.355,1),transform 0s cubic-bezier(.215,.61,.355,1);
    opacity: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.title__text {
    font-size: 2.5rem;
    line-height: var(--line-height-primary);
    text-transform: var(--text-transform-primary);
    font-weight: bold;
}
.body__text {
    font-size: 1.7rem;
    font-weight: 100;
    line-height: 1.5;
}
.header__text, .footer__text {
    text-transform: var(--text-transform-primary);
    font-weight: bold;
    line-height: var(--line-height-secondary);
    font-family: var(--font-secondary);
    font-size: var(--font-size-secondary);
}
.marquee__text{
    font-size: 5rem;
    white-space: nowrap;
    text-transform: var(--text-transform-primary);
    font-family: var(--font-secondary);
}
.list__text {
    font-size: 1.3rem;
    line-height: 1.8;
    font-weight: 600;    
    text-transform: capitalize;
}

/* ========== HEADER ========== */
.header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--color-primary);
    transition: all .1s;
}
/* header Components */
ul.header__list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}
li.header__item {
    width: 10%;
    text-align: end;
}
li.header__item:nth-child(1) {
    width: 80%;
    text-align: start;
}
.header__button {
    cursor: pointer;
    border: none;
    background: none;
}
/* Header Typography */
a.header__link, .header__button {
    font-family: var(--font-secondary);
}

/* ========== Menu ========== */
section.menu {
    width: 100%;
    padding: 5rem 0 0;
    position: fixed;
    z-index: 4;
    background: var(--color-primary);
    transform: translateY(100%);
    transition: all 1s;
}
/* Menu Components */
.menu__container {  
    width: 95%;
    margin: auto;  
    height: 100%;
    display: flex;
    flex-direction: column;
}
.menu__col {
    width: 100%;
    height: 100%;
}
ul.menu__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
li.menu__item {
    width: 100%;
    padding: 1.5rem 0;
}
/* Menu Typography */
h1.menu__title{
    padding: 1.5rem 0;
}
a.menu__link {
    display: block;
    text-transform: uppercase;
}

/* ========== Main Layout ========== */
.main {
    width: 100%;
    margin-top: 0 !important;
    overflow: hidden;
}
/* main background */
.main__background {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;    
    display: flex;
    align-items: center;
}
.main__background--column {
    width: 30%;
    height: 100%;
    display: flex;
    margin: 0 0 0 auto;
    align-items: center;
}
.main__background--row {
    position: relative;
    width: 100%;
    height: 50%;
    filter: blur(60px) opacity(.7);
}
/* main liquid gradient color */
.main__background--circle{
    position: absolute;
    height: 50%;
    width: 50%;    
    border-radius: 50%;
}
.main__background--circle:nth-child(1) { 
    top: 0;
    left: 0;
    background-color: #C06C84;
}
.main__background--circle:nth-child(2) { 
    top: 0;
    right: 0;
    background-color: #6C5B7B;
}
.main__background--circle:nth-child(3) { 
    top: 50%;
    right: 0;
    background-color: #C06C84;
}
/* ========== Main Container ========== */
.main__container {
    width: 90%;
    margin: auto;
    position: relative;
    height: 100%;
}
/* Main Container Columns and Rows */
.main__container--row {
    width: 100%;
    height: 100%;
} 
.main__container--row:nth-child(1) {
    position: absolute;
}
.main__container--row:nth-child(2) {
    padding: 0 0 0.5rem;
}

/* Main Components  */
.main__presentation {
    margin: auto;
}
.main__skills, .main__contact {
    margin: 0;
    width: 30%;
}
.main__contact {
    margin: 0 0 0 auto;
}
/* Main Typography */
span.contact-form__link {
    position: relative;
    width: fit-content;
    display: inherit;
}

.contact-form__link a {
    margin: 2rem 0 0;
    display: block;
    font-size: 1.1rem;
}
p.main__tech, a.main__link {
    width: 33.333%;
}

/* ========== Transition Layout ========== */
.transition {
    width: 100%;
    overflow: hidden;
}
.transition__header {
    width: var(--width-section);
    margin: 2rem auto 0;
    position: absolute;
    right: 0;
    left: 0;
}
.transition__scroll {
    height: 100%;
}
/* Transition Typography */
h1.transition__text {
    transition: transform 1s ease-out !important;
    opacity: 1 !important;    
    will-change: transform;
    position: relative;
}
h1.transition__text:nth-child(2), h1.transition__text:nth-child(6) {
    left: -500px;
}
h1.transition__text:nth-child(4) {
    left: -1500px;
}

/* ========== Profile Layout ========== */
/* Profile Columns and Rows */
.profile__row {
    width: 100%;
    padding: 2rem 0;
}
/* Profile elements */
.profile__subdivision {
    width: 100%;
}
ul.profile__ul {
    width: 100%;
}
/* Profile Typography */
h1.profile__title--text {
    padding: 0 0 0.2rem;
    margin: 0 0 1rem;
}
h1.profile__title--text, .profile__body h6 {
    width: 100%;    
}

/* ========== Projects Layout ========== */
.projects{
    height: 100%;
}
.projects__container {
    height: 100%;
}
.projects__intro {
    margin-bottom: 3rem;
}
/* Projets Columns and Rows */
.projects__column {
    width: 100%;
    margin: 1rem 0;
}
.projects__column:nth-child(1) .projects__row:nth-child(1) {
    width: 30%;
}
.projects__column:nth-child(1) .projects__row:nth-child(2) {
    width: 70%;
}
/* Projects Elements */
ul.projects__list, .projects__cards {
    width: 100%;
}
li.project__item {
    cursor: pointer;
    margin: 0.2rem 0;      
}
li.project__item:hover {
    filter: opacity(1);
    transition: filter 0.1s ease !important;
}
li.project__item:hover ~ li.project__item,
ul.projects__list:hover  li.project__item:not(:hover) {
  filter: opacity(0.5);
  transition: filter 0.3s ease !important;
}

.projects__cards--card {
    margin: .2rem 0 .2rem auto;
    cursor: pointer;
    transition: filter 0.3s ease;
}
.projects__cards--card:hover {
    filter: opacity(1);
}
.projects__cards--card:hover ~ .projects__cards--card,
.projects__cards:hover  .projects__cards--card:not(:hover) {
  filter: opacity(0.5);
}
/* Projects img */
img.projects__cards--img {
    max-width: 300px;
    height: auto;
}
/* Projects Typography */
.project__item--text, .projects__card--text {
    font-size: 1.1rem;    
}

/* ========== Projects Selected ========== */
.project__selected {
    width: 100%;
    height: 100%; 
    background: var(--color-primary); 
    position: absolute;
    top: 0;
    flex-wrap: wrap;
    z-index: 3;
    transform: translate3d(-105%, 0px, 0px);
    transition: all .8s ease-out;    
    padding: 5rem 0 0 0;
}
/* Projects Selected Columns and Rows */
.project__selected--col:nth-child(1){
    width: 45%;
    height: 100%;
    margin: auto;
} 
.project__selected--col:nth-child(2){
    width: 50%;
    height: 100%;
} 
.project__selected--col:nth-child(1) {
    transform: translate3d(-100%, 0px, 0px);
    opacity: 0;
    transition: all .8s ease-out;
}
.project__selected--col:nth-child(2) {
    transform: translate3d(100%, 0px, 0px);
    opacity: 0;
    transition: all .8s ease-out;
}
.project__selected--row {
    position: relative;
    transform: translate3d(0px, 0%, 0px);
    transition: all .5s ease-in-out;
}
/* Project Selected Components */
.project__selected--list li {
    width: 33.33%;
}
/* Projects Items Imagenes */
.project__selected--main-image {
    width: 100%;
}
.project__selected--list-image {
    width: 24%;
}
.project__selected--img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
/* Projects Items Typography */
h1.project__selected--title {   
    font-weight: 100;
    text-transform: capitalize;
}
input.project__selected-return {
    border: none;
    background: transparent;
    cursor: pointer;
}
input.project__selected-return, h6.project__selected--subtitle {
    font-size: var(--font-size-primary);   ;
    margin: 0 0 0.5rem;
}
p.project__selected--text, .project__selected--list li, .project__selected--link {    
    font-weight: bold;
    font-size: var(--font-size-primary);
    line-height: var(--line-height-primary);
}


/* ========== Contact Layout ========== */
.contact {
    height: 90vh;
    margin-top: 0;
}
/* Contact Layout */
.contact__body { 
    width: 50%; 
}

.contact__lead { 
    margin: .5rem 0; 
}
/* Contact Form */
.contact__form { 
    width: var(--width); 
}
.contact__form form { 
    display: grid; 
}
.contact__form input,
.contact__form textarea{     
    border: none;
    border-bottom: 1px solid  var(--color-border);
    color: #3c3c3c;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: smaller;
    background: transparent;    
}
.contact__form textarea {
    border: 1px solid  var(--color-border) ;
}
.contact__form input[type="submit"] {
    padding: .7rem;
    margin: 1rem 0;
    cursor: pointer;
    color: white;
    background: var(--color-secondary);  
    font-size: smaller;
    text-transform: uppercase;
    font-family: var(--font-secondary);
}
.contact__form-message { 
    margin: 2rem 0; 
}
/* Contact Typography */
.contact__text, .contact__form label, .contact__form-message h5 {    
    line-height: var(--line-height-primary);
    font-size: var(--font-size-primary);
}
.contact__form label { 
    margin: .2rem 0;       
}


/* ========== Footer Layout ========== */
footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 1px solid var(--color-border);
    border-radius: 2px;
}
/* Footer Components */
ul.footer__list {
    width: 20%;
}
/* Footer Typegraphy */


/* ========== Responsive Styles ========== */

@media(max-width:1280px) {
    .style-section {
        height: auto;
    }
    .title__text {
        font-size: 1.5rem;
    }
    .body__text {
        font-size: 1.3rem;
    }
    .marquee__text{
        font-size: 3rem;
    }
    .list__text {
        font-size: 1.1rem;
    }

    .main {
        height: 100vh;
    }
    .main__skills {       
        width: 40%;
    }
    .main__contact {
        width: 30%;
    }
    .contact-form__link a {        
        font-size: 1.1rem;
    }

    .transition__header {
        position: relative;
    }
    .transition__scroll {
        margin: 10vh 0 0;
    }
    h1.transition__text:nth-child(4) {
        left: -400px;
    }

    .project__item--text, .projects__card--text {
        font-size: 1rem;
    }
    .projects__card--text {
        line-height: 1;
    }

    .project__selected {
        display: block;
    }
    .project__selected--col:nth-child(1), 
    .project__selected--col:nth-child(2){
        width: 100%;
        height: auto;
    } 
    .project__selected--col:nth-child(1) {
        margin: 0 0 2rem;
    }
    .project__selected--col:nth-child(2){
        display: flex;
    }
    .project__selected--row {
        width: 100%;
        margin: 0.5rem 0;
        display: block;
    }

    .project__selected--list-image {
        width: 25%;
        margin: 0 0.5rem;
    }
    h1.project__selected--title {
        font-weight: bold;
        text-transform: var(--text-transform-primary);
    }
    p.project__selected--text, .project__selected--list li, .project__selected--link {
        font-size: 1rem; 
        font-weight: 100;       
    }
    .project__selected--list li {
        width: auto;
        margin: 0 2rem 0 0;
        font-weight: 600;
    }

    .contact {
        height: 90vh;
    }

    ul.footer__list {
        width: 30%;
    }
}

@media (max-width: 1000px){
    .body__text {
        font-size: 1.2rem;
    }
    .main__contact {
        width: 35%;
    }
}

@media (max-width: 800px) {
    .title__text {
        font-size: 1.3rem;
    }
    .body__text {
        font-size: 1.1rem;
    }
    .list__text {
        font-size: .95rem;
    }

    .main__container {
        width: 95%;
    }
    .contact-form__link a {
        font-size: .9rem;
    }
    .main__skills {       
        width: 50%;
    }
    .main__contact {
        width: 40%;
    }
    p.main__tech {
        width: auto;
        margin: 0 1rem 0 0;
    }

    .profile__subdivision {
        display: block;
    }

    .projects__column {
        display: block;
    }
    .projects__column:nth-child(1) .projects__row:nth-child(2) {
        width: 100%;
    }
    p.project__selected--text, .project__selected--list li, .project__selected--link {
        font-size: .95rem;
        
    }
    p.projects__card--text {        
        margin: 0.5rem 0;
    }

    ul.footer__list {
        width: 30%;
    }
}

@media (max-width: 600px) {
    li.header__item {
        width: 20%;
    }

    .main__skills {
        width: 40%;
    }
    .main__contact {
        width: 50%;
    }

    ul.footer__list {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .style-section {
        margin-top: 10vh;
    }
    .title__text {
        font-size: 1.1rem;
    }
    .body__text {
        font-size: 1rem;
    }

    .contact-form__link a {
        font-size: .8rem;
    }
    .main__skills {
        display: none;
    }   
    .main__contact {
        width: 60%;
    }

    .marquee__text {
        font-size: 2.5rem;
    }
    h1.transition__text:nth-child(4) {
        left: -450px;
    }

    .projects__cards--card {
        display: block;
    }
    p.projects__card--text {
        display: flex;
        justify-content: space-between;
    }

    ul.footer__list {
        width: 60%;
    }      
}